<form method="POST" action="/activities" class="text-center text-white">
  <fieldset>
    <legend>Add a Activity</legend>
    <!-- TITLE -->
    <p>
      <label for="activity">Activity</label><br>
      <input type="text" name="activity" />
    </p>
    <p>
      <label for="desc">Description</label><br>
      <input type="text" name="desc" />
    </p>
    <p>
      <label for="imgUrl">Image</label><br>
      <input type="text" name="imgUrl" />
    </p>
  </fieldset>

  <p>
    <button type="submit">Add Activity</button>
  </p>

</form>
