<form method="POST" action="/shoes" class="text-white text-center mt-3 p-3">
  <fieldset>
    <legend>Add a Comment About This Shoe!</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Name</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="desc">Comment</label><br>
      <input type="text" name="desc" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Add Comment</button>
  </p>

</form>
