<!-- home.handlebars -->
<!-- <h1>{{msg}}</h1> -->
<h2 class="text-center mb-4">Home</h2>
<div class="container bg-dark border border-dark ">

<div class="text-center text-white mt-2 mb-5">
  <h4>What is My Kicks?</h4>
</div>
  <div class="row mb-5">
    <div class="col-4 text-white">
      <h4>Choose your activity</h4>
      <div class="card mb-3 border border-dark font-weight-bold text-dark" style="width:100%;">
        <div class="card-header">
          Activity
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Running ></li>
            <li class="list-group-item">Basketball </li>
            <li class="list-group-item">Tennis </li>
          </ul>
    <!-- <div class="col-4">
      One of three columns
    </div> -->
    </div>

  </div>
      <div class="col-4 text-white text-center">
      <h4>We recommend shoes for you</h4>
      <div class="card mb-3 border border-dark font-weight-bold text-dark" style="width:100%">
        <div class="card-header">
          Activity: Running
          <img src="https://images.prod.meredith.com/product/f9f6dd3097b968aea9ba4cd5f9620e50/1596449122792/l/brooks-womens-ghost-13-running-shoes-size-small-blue" width="300" height="350" alt="">
      </div>

    </div>
  </div>
      <div class="col-4 text-center text-white">
        <h4>You buy a pair!</h4>
        <div class="card mb-3 border border-dark" style="width:100%">
          <div class="card-header">
            <div class="card mb-5 mt-4 border border-dark text-dark" style="width:100%">
              <div class="card-header">
                Thank you for your purchase! Your shipment will arrive in 5-10 business days!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" mt-4 text-white border border-dark bg-info">

<!-- Activities -->
    <h4 class="text-center mt-3">Activities</h4>
    <h5 class="text-center">Choose your favorite activity and we will find shoes for it!</h5>
    <div class="row text-center mt-5 mb-5">
      <div class="col-4 mb-5">
        <h4>Running</h4>
        <img class="border border-dark" src="https://media.npr.org/assets/img/2017/07/09/istock-514053020-a1852e49a73e8903c4fe44b65c5bb45bceb99430-s800-c85.jpg" height="320" width="320"  alt="">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Choose this activity></button>
      </div>
      <div class="col-4 mb-5">
        <h4>Basketball</h4>
        <img class="border border-dark" src="https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581678662/DCUK/Content/iStock-959080376.jpg" height="320" width="320" alt="">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Choose this activity></button>
      </div>
      <div class="col-4 mb-5">
        <h4>Tennis</h4>
        <img class="border border-dark" src="https://bloximages.newyork1.vip.townnews.com/southbendtribune.com/content/tncms/assets/v3/editorial/1/21/1216bbb5-8e12-5dc4-8674-329468528375/5af81423deea5.image.jpg?resize=1200%2C800" height="320" width="320" alt="">
        <button class="btn btn-warning my-2 my-sm-0" type="submit">Choose this activity></button>
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
        <button class="btn btn-danger my-2 my-sm-0 " type="submit">More activities></button>
      </div>
    </div>
  </div>
  <div class="text-white border border-dark bg-dark">


<!-- Shoes -->
    <h4 class="text-center mt-3">Shoe Brands</h4>
    <h5 class="text-center">Pick a brand and we can find one that fits your activity</h5>
    <div class="row text-center mt-5 mb-5">
      <div class="col-4 mb-5">
        <h4>Nike</h4>
        <img class="border border-dark" src="https://static.nike.com/a/images/c_limit,w_318,f_auto/t_product_v1/i1-1f47ff4b-e9a1-4cd1-9693-be9cbd430fb0/zoom-pegasus-turbo-2-womens-running-shoe-lBb48K.jpg" alt="">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Shop this brand></button>
      </div>
      <div class="col-4 mb-5">
        <h4>Brooks</h4>
        <img class="border border-dark" src="https://www.mynavyexchange.com/products/images/xlarge/12983242_075.jpg" height="320" width="320" alt="">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Shop this brand></button>
      </div>
      <div class="col-4 mb-5">
        <h4>Adidas</h4>
        <img class="border border-dark" src="https://adidas-cdn.revton.com/media/catalog/product/cache/0/image/9df78eab33525d08d6e5fb8d27136e95/F/V/FV8366-1.jpg" height="320" width="320" alt="">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Shop this brand></button>
      </div>
      <div class="col-4">
      </div>
      <div class="col-4">
        <button class="btn btn-danger my-2 my-sm-0 " type="submit">More brands></button>
      </div>
    </div>
  </div>

<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4 bg-warning">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h4 class="">My Kicks</h4>
        <img src="https://www.clker.com/cliparts/K/S/J/w/I/l/running-shoe-with-wings.svg" height="100px" width="100px" alt="">

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Activities</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Running</a>
          </li>
          <li>
            <a href="#!">Basketball</a>
          </li>
          <li>
            <a href="#!">Tennis</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Brands</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Nike</a>
          </li>
          <li>
            <a href="#!">Brooks</a>
          </li>
          <li>
            <a href="#!">Adidas</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: My Kicks
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
