<div class="row mt-4 text-white">
  <div class="col-lg-6 offset-lg-3">
    <img class="img-fluid w-100 rounded mb-3" src="{{shoes.imgUrl}}" alt="Card image cap">
    <h3>{{shoes.name}}</h3>
    <div class="lead">{{shoes.price}}</div>
    <p>
      <a href="/shoes" type="submit" class="btn btn-primary">Back</a>
      <a href="#" type="submit" class="btn btn-danger">Buy Now!</a>
    </p>
  </div>
</div>
