<form method="POST" action="/shoes" class="text-center text-white">
  <fieldset>
    <legend>Add a Shoe</legend>
    <!-- TITLE -->
    <p>
      <label for="name">Name</label><br>
      <input type="text" name="name" />
    </p>
    <p>
      <label for="price">Price</label><br>
      <input type="text" name="price" />
    </p>
    <p>
      <label for="imgUrl">Image</label><br>
      <input type="text" name="imgUrl" />
    </p>
  </fieldset>

  <p>
    <button type="submit">Add Shoe</button>
  </p>

</form>
